body {
    margin: 0 auto;
    font-family: 'Rosario', sans-serif;
    font-size: 12px;
    min-width: 900px;
    max-width: 1900px;
}
.page.one {
    width: 100%;
    height: 900px;
    margin: 0;
    box-sizing: border-box;      
}
.page.three {
    width: 100%;
    height: 900px;
    margin: 0;
    box-sizing: border-box; 
}
.hat {
    position: sticky;
    top: 0;
    background-color: #000;
    width: 100%;
    height: 8rem;
    overflow: hidden;
    margin: 0;
    z-index: 50;
}
.logo {
    width: 16rem;   
    float: left;
}

#img {
    width: 100%;
}
#menu {
    width: 70%;
    display: none;
}
.btn {
    width: 20%;
    height: 120px;
    box-sizing: border-box;
    display: none;
    
}
.menu {
    float: right;
}
 
.logo, .nav, ul, li:not(#ftr) {
    display: inline-block;
    box-sizing: border-box;
    
}
.nav {
     float: right;
     width: 70%;
     overflow: hidden;
     box-sizing: border-box;
     display: flex;
     justify-content: space-around;
 }
ul:not(#ftr) {   
    width: 100%;
    margin-top: 3rem;    
    height: 70%; 
    float: right;  
}
li:not(#ftr) {
    margin: 0 .5rem;    
    list-style: none;    
}
li:not(#ftr) a:not(#ftr) {
    display: inline-block;
    text-decoration: none;
    color: #FFFCFC;
    font-size: 1.9rem;
    text-align: center;
}
.photo_one {
    width: 100%;
    height: 900px;
    box-sizing: border-box;
    padding: 4rem 2rem;
}
.photo_gr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 410px 350px;
    gap: 1rem 2rem;
}
.med1 {
    width: 90%;
    height: 580px;
    padding-top: 5rem;
}
.med2 {
    width: 100%;
    height: 410px;
    padding-top: 2rem;
}
.med3 {
    width: 100%;
    height: 360px;
}
.photo >img  {
    width: 100%;

}
.med1.boy {
    grid-column: 1;
    grid-row: 1/3;
}
.med1.boy2 {
    grid-column: 4;
    grid-row: 1/3;
}
.med2.old {
    grid-column: 2;
    grid-row: 1;
}
.med2.man {
    grid-column: 3;
    grid-row: 1;
}
.med3.bro {
    grid-column: 2;
    grid-row: 2;
}
.med3.barber {
    grid-column: 3;
    grid-row: 2;
}
.group1 {
    position: relative;
    animation-name: movie1;
    animation-duration: 4s;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;    
}
.group2 {
    position: relative;
    animation-name: movie2;
    animation-duration: 4s;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
.boy, .boy2 {
    animation-delay: 0.2s;
}

@keyframes movie1 {
    from {
        transform: translateX(-50vw);
    }
    to {
        transform: translateX(0);
    }   
}
@keyframes movie2 {
    from {
        transform: translateX(50vw);
    }
    to {
        transform: translateX(0);
    }
}

.page.two {
    width: 100%;
    height: 900px;
    margin: 0;
    box-sizing: border-box;      
}
.photo_two {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-between;
}
.ellipse {
    width: 45%;
    height: 800px;
    box-sizing: border-box;
    position: relative;  
}
.rotat {
    width: 42%;
    height: 25rem; 
    box-sizing: border-box; 
    display: block;
    position: absolute;
}
.ell {
    padding-top: 1rem; 
}
.had {
    top: 0;
    left: 0;
    animation-name: had;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
 .beard {
    top: 0;
    left: 50%;
    animation-name: beard;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
.finger {
    top: 50%;
    left: 0;
    animation-name: finger;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.hair {
    top: 50%;
    left: 50%;
    animation-name: hair;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.rotat > p {
    font-size: 2.3rem;
    text-align: center;
    margin: 0;
 }
.hand {
    width: 55%;
    height: 800px;
    box-sizing: border-box;
   overflow: hidden;
}

@keyframes had {
    0%, 100% {
        top: 0;
        left: 0;
    }
    12% {
        top: 0;
        left: 25%;
    }
    25% {
        top: 0;
        left: 50%;
    }
    38% {
        top: 25%;
        left: 50%;
    }
    50% {
        top: 50%;
        left: 50%;
    }
    62% {
        top: 50%;
        left: 25%;
    }
    75% {
        top: 50%;
        left: 0;
    }
    85% {
        top: 25%;
        left: 0;
    }
}
@keyframes beard {
    0%, 100% {
        top: 0;
        left: 50%;
    }
    12% {
        top: 25%;
        left: 50%;
    }
    25% {
        top: 50%;
        left: 50%;
    }
    38% {
        top: 50%;
        left: 25%;
    }
    50% {
        top: 50%;
        left: 0;
    }
    68% {
        top: 25%;
        left: 0;
    }
    75% {
        top: 0;
        left: 0;
    }
    85% {
        top: 0;
        left: 25%;
    }
}
@keyframes finger {
    0%, 100% {
        top: 50%;
        left: 0;
    }
    12% {
        top: 25%;
        left: 0;
    }
    25% {
        top: 0;
        left: 0;
    }
    38% {
        top: 0;
        left: 25%;
    }
    50% {
        top: 0;
        left: 50%;
    }
    68% {
        top: 25%;
        left: 50%;
    }
    75% {
        top: 50%;
        left: 50%;
    }
    85% {
        top: 50%;
        left: 25%;
    }
}
@keyframes hair {
    0%, 100% {
        top: 50%;
        left: 50%;
    }
    12% {
        top: 50%;
        left: 25%;
    }
    25% {
        top: 50%;
        left: 0;
    }
    38% {
        top: 25%;
        left: 0;
    }
    50% {
        top: 0;
        left: 0;
    }
    68% {
        top: 0;
        left: 25%;
    }
    75% {
        top: 0;
        left: 50%;
    }
    85% {
        top: 25%;
        left: 50%;
    }
}


.title {
    font-size: 6rem;
    text-align: center;
    margin: 3rem auto;
}
.photo_person {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}
.mer {
    width: 22%;
    height: 42rem;    
    border-radius: 40px;  
    background-image: url(../img/Rectangle\ 8.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    filter: brightness(70%);
 }
.jan {
    width: 22%;
    height: 42rem;    
    border-radius: 40px;  
    background-image: url(../img/Rectangle\ 12.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    filter: brightness(70%);
}
.rayn {
    width: 22%;
    height: 42rem;    
    border-radius: 40px;  
    background-image: url(../img/Rectangle\ 13.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    filter: brightness(70%);
}
.jam{
    width: 22%;
    height: 42rem;    
    border-radius: 40px;  
    background-image: url(../img/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    filter: brightness(70%);
}
.add {
    width: 100%;
    height: 32rem;
}
.opac {
    width: 100%;
    height: 10rem;
    background-color: #A3530AB2;
    border-radius: 0 0 40px 40px;
    color: white;
    font-size: 3rem;
    text-align: center;
    padding-top: 2rem;
    box-sizing: border-box;
    opacity: 0;    
}
.photo:hover > .opac {
    opacity: 1;
}
.photo:hover {
    filter: brightness(100%);
}
.page.four {
    width: 100%;
    height: 900px;
    margin: 0;
    box-sizing: border-box;      
}
.btm-contant {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    height: 40rem;
    margin: 1rem auto;
    box-sizing: border-box;
}
.btm {
    width: 55%;
    height: 30rem;
}
.title-btm { 
    font-size: 4rem;
    text-align: center;
    flex-wrap: wrap;
    line-height: 4rem;
    
}
.input {
    display: grid;
    height: 25rem;
    background-color: #e5e5e5e5;
    margin: 1rem auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10rem 15rem;
    gap: 1rem;
    box-sizing: border-box;
    
}
div > input {
    width: 80%;
    height: 5rem;
    margin: 2rem;
    
}
div > textarea {
    width: 184%;
    height: 8rem;
    resize: none;
    grid-template-columns: 1/3;
    margin: 2rem;
}
::placeholder {
    font-size: 1rem;
    padding-left: .5rem;
}
input, textarea {
    border: none;
}
.map {
    width: 38%;
    height: 30rem;
    margin-top: 5rem ;
    margin-left: 3rem;
    box-sizing: border-box;

}
.map > iframe {    
    height: 30rem;
    width: 30rem;
   
}
.footer {
    width: 100%;
    height: 13rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    line-height: 3rem;
}
.adress {
    width: 30%;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}
div > span {
    font-family: 'Volkhov', serif;
    font-weight: bold;
}
.hours {
    width: 30%;
    font-size: 1.5rem;
    text-align: center;
}
.contact {
    width: 30%;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
}
ul > #ftr {
    margin-left: 2rem;
    text-align: left;    
}
#ftr > a {
     text-decoration: none;
     color: black;
}
.insta {
    list-style-image: url(../img/pngwing\ 1.png);
}
.face {
    list-style-image: url(../img/pngwing\ 2.png);
}
.twit {
    list-style-image: url(../img/pngwing\ 3.png);
}




@media screen and (min-width: 768px) and (max-width: 992px)  {
    .page {
        max-width: 992px;
        min-height: 1600px;
    }
    #menu {
        width: 100%;
        display: block;
    }
    .btn {
        display: block;
    }
    .hat {
        overflow: revert;
    }
    .nav {
        float: right;
        width: 25%;
        overflow: hidden;
        box-sizing: border-box;
        position: relative;
        height: 45rem;
        display: block;
        
    }
    li:not(#ftr) a:not(#ftr) {
        display: block;
        text-decoration: none;
        color: #FFFCFC;
        font-size: 1.9rem;
        text-align: center;
        
    }
    .menu {
       
        visibility: hidden;
    }
    ul:not(#ftr) {   
        width: 100%;
        margin-top: 3rem;    
        height: 70%; 
        float: right;  
        position: absolute;
        z-index: 1;
        top: 5rem;
        right: 0; 
       background-color: #000;

    }
    li:not(#ftr) {
        margin: 1rem .5rem;    
        list-style: none;         
    }
    .btn {
        width: 80%;
        height: 120px;
        box-sizing: border-box;
        float: right;
       
    }
    .btn:hover + .menu>ul {
       visibility: visible;
    }    
    .menu:hover {
        visibility: visible;
    }
    .photo_one {
        width: 100%;
        height: 1600px;
    }
    .photo_gr {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px 350px 500px;
    }
    .med1.boy {
        grid-column: 1;
        grid-row: 3;
        padding-top: 0;
    }
    .med1.boy2 {
        grid-column: 2;
        grid-row: 3;
        padding-top: 0;
    }
    .med2.old {
        grid-column: 1;
        grid-row: 1;
    }
    .med2.man {
        grid-column: 2;
        grid-row: 1;
    }
    .med3.bro {
        grid-column: 1;
        grid-row: 2;
    }
    .med3.barber {
        grid-column: 2;
        grid-row: 2;
    }
    .group1, .group2 {
        animation: none;
    }
    .page.three {
        min-height: 1800px;
    }
    .photo_two{
        width: 100%;
        height: 1600px;
        display: flex;
        flex-direction: column;
    }
    .ellipse {
        width: 90%;
        margin: 1rem auto;
        align-self: flex-end;
        order: 2;
    }
    .hand {
        width: 90%;
        margin: 1rem auto;
        align-self: flex-start;
        order: 1;        
    }
    .photo_person {
        display: flex;
        flex-wrap: wrap;
    }
    .group3 {
        width: 40%;
        margin: 1rem auto;
    }
    .btm-contant {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 1200px;
        margin: 1rem auto;
    }
    .btm {
        width: 90%;

    }
    .map > iframe {
        width: 40rem;
    }
    .footer {
        height: 21rem;
    }    
}

@media screen and (min-width: 400px) and (max-width: 768px) {
    .page.one {
        max-width: 760px;
        min-height: 4500px;
    }
    #menu {
        width: 100%;
        display: block;
    }
    .btn {
        display: block;
    }
    .hat {
        overflow: revert;
        width: 100%;
    }
    .nav {
        float: right;
        width: 25%;
        overflow: hidden;
        box-sizing: border-box;
        position: relative;
        height: 45rem;
        display: block;
        
    }
    li:not(#ftr) a:not(#ftr) {
        display: block;
        text-decoration: none;
        color: #FFFCFC;
        font-size: 1.9rem;
        text-align: center;
        
    }
    .menu {
       
        visibility: hidden;
    }
    ul:not(#ftr) {   
        width: 100%;
        margin-top: 3rem;    
        height: 70%; 
        float: right;  
        position: absolute;
        z-index: 1;
        top: 5rem;
        right: 0; 
       background-color: #000;

    }
    li:not(#ftr) {
        margin: 1rem .5rem;    
        list-style: none;         
    }
    .btn {
        width: 80%;
        height: 120px;
        box-sizing: border-box;
        float: right;
       
    }
    .btn:hover + .menu>ul {
       visibility: visible;
    }    
    .menu:hover {
        visibility: visible;
    }
   
   .photo_one {
    width: 100%;
    height: 4200px;
    }
    .photo_gr {
        display: block;
        overflow: hidden;
        margin: 1rem auto;
    }
    .group1, .group2 {
        animation: none;
        width: 90%;
        height: 80%;
    }
    .photo > .pg {
        width: 100%;
        overflow: hidden;
    }
    .page.two {
        min-height: 800px;
    }
    .photo_two{
        width: 100%;
        height: 800px;
      
    }
    .ellipse {
        width: 90%;
        margin: 2rem auto;
       
    }
    .hand {
       display: none;        
    }
    .page.three{
        height: 3200px;
        box-sizing: border-box;
    }
    .photo_person {
        display: block;
        margin: 0 auto;
        height: 2400px;
        box-sizing: border-box;
    }
    .group3 {
        width: 53%;
        height: 672px;
        margin: 2rem auto;
        box-sizing: border-box;
    }
    .page.four {
        height: 2300px;
    }
    .btm-contant {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 1200px;
        margin: 1rem auto;
    }
    .btm {
        width: 90%;
        order: 2;    
    }
    .map {
        order: 1;
    }
    .map > iframe {
        width: 40rem;
    }
    .footer {
        height: 21rem;
        flex-direction: column;
        align-items: center;
        margin-top: 24rem;
    } 
  


}