body {    
    background-color: #E5E5E5;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    min-width: 1600px;
    max-width: 2000px;
}
#fixed-div {
    width: 101px;
    height: 101px;
    background-color: #555768;
    border-radius: 50%;
    position: fixed;
    bottom: 20rem;
    right: 1.1rem;
    text-align: center;
    z-index: 5;
}
.ar {
    padding-top: 23px;
}

.hat {
    width: 100%;
    height: 90px;
    background-color: #202846;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-image: url(../img/Group\ 17.png);
    background-repeat: no-repeat;
    background-position: right 2vw center;
}
ul:last-child {
    margin-right: 11rem;
}
li:nth-child(3) {
    width: 12rem;
}
.logo {
    padding-left: 3rem;
}
ul > li {
    display: inline-block;
    width: 8rem;
    height: 30px;
    float: left;
    margin-bottom: 1rem;
}
li.nav {
    border-right: 3px solid white;
    padding: 0.5rem 2rem; 
   
}
li > a {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
   

}
.hat_two {
    width: 100%;
    background-color: #C6C6DC;
    height: 140px;    
    font-size: 48px;
    color: #202846;
    padding-top: 33px;
    padding-left: 150px;
    box-sizing: border-box; 
    margin-bottom: 150px;
    
}

.card {
    background-color: #BDBDC6;
    border: 1px solid #BDBDC6;
    height: 300px;
    width: 80%;
    margin: 2rem auto;
    position: relative;
    
} 
.svg {
    position: absolute;
    right: .3rem;
}
.svg:hover path{
    fill: yellow;
} 
.int {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    height: 300px;
    overflow: hidden;
}  
.int1 {
    width: 55%;
    display: inline-block;
    vertical-align: top;
    height: 300px;
    overflow: hidden;
}

.card_img {
    border: 1px solid none;
    width: 80%;
    height: 3rem;
    padding-left: 2rem;
    margin-left: 2rem;
    
    
    
}
.img {
    margin-top: 20px;
    margin-left: 10px
}
.content {
    width: 100%;
    height: 3rem;    
    padding-left: .1rem;
    margin-left: 4rem;
    


}
.card_title {
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    border-bottom: 3px solid white;
    width: 90%;
    margin-bottom: .3rem;

   
}
.card_box {
    background-color: #D7D7DD;
    height: 13.5rem;
    width: 90%;
    text-align: center;
    font-size: 22px;
    box-sizing: border-box;
    padding: 1rem;
    overflow: hidden;
}
.btn {
    border: 1px solid #202846;
    width: 200px;
    height: 60px;
    background-color: #202846;
    text-align: center;
    font-size: 24px;
    padding-top: 15px;
    border-radius: 40px;
    box-sizing: border-box;     

}
.btn_1 {
    width: 200px;
    height: 65px;
    position: absolute;
    left: 93%;
    top: 14rem;
    
}
a {
    color: white;
    text-decoration: none;
       
}
.foot{
     width: 100%;
     height: 90px;
    background-color: #202846;
    margin-top: 87px;
}
.bottom {  
    font-size: 36px;
    font-weight: 400px;
    color: #EEECF1;
    padding-top: 21px;
    padding-left: 60px;
}





