body {
    min-width: 700px;
    max-width: 1000px;
    background-color: #E5E5E5;
    padding: 64px 48px;
    margin: 0 auto;
}

.subh1 {
    font-size: 14px;
    margin-top: 80px;
    margin-bottom: 24px;
}
.zv {
    color: red;
}
.title {
   display: flex;
   flex-direction: row;
   
}
.block1 {
    margin-left: 31px;
    
}
label {
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
}
.box {
    width: 392px;
    height: 40px;
    font-size: 16px;

}
.box1 {
    width: 392px;
    height: 43px;
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 3px;

}
input.date {
    background: #EFEFEF;
}
input.str {
    background-image: url(../img/arrow-down-s-line.png);
    background-repeat: no-repeat;
    background-position: right 6px center; 
}
.pur + .checkpur {
    width: 24px;
    height: 24px;
    
}
.checklab {
    margin-top: 45px;
}
.line {
    border: 1px solid #D1D1D1;
    margin-top: 25px;
    width: 827px;

}
.center {
    display: flex;
}
input ::placeholder {
    color: black;
}
input.lupa {
    background-image: url(../img/search-line.png);
    background-repeat: no-repeat;
    background-position: right 6px center; 
    
}
.btn {
    font-size: 16px;
   
    text-align: center;
    width: 79px;
    height: 40px;
    background-color: #0050D8;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 16px;
    margin-left: 750px;
}
.abtn {
    color: white;
    text-decoration: none;
}
.areyou {
    display: inline-block;
    width: 40%;
    padding-top: 42px;
    
}
input.lupa.crl::placeholder {
    color: blue;
}
input.str.crl::placeholder {
    color: blue;
}