html {
    font-size: 10px;
}
body {
    height: 4809px;
}
body, ul {
    margin: 0;
    padding: 0;
    background-color: #212529;
   
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    
}
.nav {
    list-style: none;
    display: flex;
    
}
li.nav-item > a, .header-btn {
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    padding: 25px 12.5px;
    box-sizing: border-box;
    transition: all .4s;
    cursor: grabbing;
    font-size: 1.8rem;
    font-weight: 600;
  }
li.nav-item > a:hover {
    color: #FFB742;
    
}
li.link-ftr > a:hover {
    color: #FFB742;
    
}
.ops:hover {
    color: #FFB742;
}
.header-btn {
    color: #212529;
    padding: 12px 26px;
    background-color: #FFB742;
    border-radius: 50px;
    font-weight: 700;
}

.hi {
    display: flex;
    margin: 100px auto;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 460px;
}
.hi > div {  
    color: white; 
    text-align: center;
}

.one {
    font-size: 3.2rem;
    
}
.two {
    font-size: 4.8rem;
}
.three {
    font-size: 2.4rem;
    font-weight: 400; 
    margin: 50px;
}
.span {
    color: #FFB742;
    text-decoration: underline;
}
.hand {
    color: #FFB742;
}
.box {
    display: flex;
    flex-direction: row;
    
}
.item {
    background-color: #292B2E;
    width: 28vw;
    height: 120px;
    
    margin: 137px auto;
    display: flex;
    flex-direction: row;
    transition: all 0.6s;
   
}
div.item > div {  
    justify-content: space-between;
    text-align: center;
    padding-top: 28px; 
    margin-left: 3rem;
 
}
.item:hover {
    background-color: #FFB742;
    
}
.item:hover div  {
    color: black;
}


.box-cont-emd {
    flex-grow: 2;
   
}
.box-cont-b {
    font-size: 1.8rem;
    color: white;
    flex-grow: 3;    
}
.box-cont-str {
    flex-grow: 1;
    padding-top: 5rem;
    margin-top: 20px;
    
}
.span-box {
    color: #FFB742;
    font-size: 3rem;
    font-weight: 700;
}
.about {
    background-image: url(../img/Group\ 12.png);
    background-repeat: no-repeat;
    height: 620px;
    color: white; 
    margin-left: 120px;
}
.about-fl {
    width: 600px;
    height: 550px;
    margin-left: 800px;   
    display: flex;
    flex-direction: column;   
    justify-content: space-evenly;
    
   
} 
    
.about-qu {
    width: 148px;
    height: 42px;
    background-color: #292B2E;
    color: #FFB742;
    font-size: 2rem;
    border-radius: 50px;
    text-align: center;
    padding-top: 18px;    
    
  
}
.about-title {
    font-size: 4.8rem;
    font-weight: 700px;
    font-family: 'Roboto', sans-serif;
   

}
.about-cont {
    font-size: 1.6rem;
    font-weight: 400px;
   
}
.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.work-ball {
    font-size: 2rem;
    color: #FFB742;
    background-color: #292B2E;
    text-align: center;
    width: 160px;
    height: 42px;
    text-transform:uppercase;
    border-radius: 50px;
    padding-top: 13px;
    box-sizing: border-box;

}
.work-title {    
    font-family: 'Roboto', sans-serif;
    font-size: 4.8rem;
    color: white;
    margin: 20px;

}
.wln {
    list-style: none;
    display: flex;
    margin: 15px;
}
li.work-nav > a {
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    transition: all .4s;
    cursor: grabbing;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 25px 12.5px;
  }
  li.work-nav > a:hover {
    color: #FFB742;
}
.foto-one {
    display: flex;
    flex-direction: row;
    margin: 40px auto;
}
.foto-two {
    display: flex;
    flex-direction: row;
    margin-bottom: 116px;
}
.mrg {
    flex-basis: 390px;
    padding: 15px;
}
.ftr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 470px;
    background-color: #1C1C1C;
    font-family: 'Work Sans', sans-serif;
}
.footer-flex {
    width: 25rem;
    height: 230px;
    margin: 10rem;
    padding: 20px;
}
.kb {
    color: #FFB742;
    font-size: 3.2rem;
    font-weight: 700px;

}
.op {
    color: #D4D4D4;
    font-size: 1.6rem;
    font-weight: 600px;    

}
.ftr-title {
    font-size: 2.2rem;
    color: #F5FBF2;
}
.link {
    background-color: #1C1C1C;
    list-style: none;
}
li > a, .ops {
    font-size: 1.8rem;
    font-weight: 500px;
    color: #7B7B7B;
    text-decoration: none;
    cursor: grabbing;
}



