body {
    max-width: 1800px;    
    min-width: 1400px;
    margin: 0;
    font-family: 'Rosario', sans-serif;
}
.sticky {
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 50;
}
.hat { 
    background: #000;
    width: 100%;
    height: 129px;
    margin: 0;
}
.logo, .nav, ul, li:not(#ftr) {
    display: inline-block;
    margin-top: 0;
    box-sizing: border-box;
}
.nav {
    float: right;    
}
.logo {
    float: left;
}
ul > li:not(#ftr) {
    list-style: none;
    margin: 2rem;    
}
li:not(#ftr) > a {
    color: white;
    text-decoration: none;
    font-size: 36px;
    text-align: center;
} 
.foto1 {
    width: 100%;
    height: 62rem;
    margin: 5rem 3rem;
    position: relative;    
}  
.boy {
    position: absolute;
    top: 11rem;
    left: 1rem;
}
.old {
    position: absolute;
    top: 2rem;
    left: 26rem
}
.barber {
    position: absolute;
    top: 2rem;
    left: 56rem;
}
.bro {
    position: absolute;
    left: 26rem;
    top: 32rem;
}
.man {
    position: absolute;
    left: 56rem;
    top: 32rem;
}
.boy1 {
    position: absolute;
    top: 11rem;
    left: 87rem;
}
.boy, .old, .bro {
    animation-name: boy;
    animation-duration: 5s; 
    animation-fill-mode: backwards;
}
@keyframes boy {
    from { left: -100vh}
    to {}
}
.barber, .man, .boy1 {
    animation-name: man;
    animation-duration: 5s; 
    animation-fill-mode: backwards;
}

@keyframes man {
    from { left: 200vh;}
    to { backwards}
}
div > p {
    font-size: 48px;
    text-align: center;
}
.foto2 { 
    position: relative;
    width: 100%;
    height: 65rem;
    margin-bottom: 3rem;
   
}
.foto2 > div:not(.hand) {
    width: 23rem;
    height: 20rem;

}
.had {
    position: absolute;
    top: 3rem;
    left: 3rem;
    animation-name: had;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes had {
    0%, 100% {
        top: 3rem;
        left: 3rem; 
    }
    25% {
        top: 3rem;
        left: 30rem;
    }
    50% {
        top: 35rem;
        left: 30rem;
    }
    75% {
        top: 35rem;
        left: 3rem;
    }
}
.beard {
    position: absolute;
    top: 3rem;
    left: 30rem;
    animation-name: beard;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes beard {
    0%, 100% {
        top: 3rem;
        left: 30rem;     
    }
    25% {
       top: 35rem;
        left: 30rem;
    }
    50% {
         top: 35rem;
        left: 3rem;
    }
    75% {
       top: 3rem;
        left: 3rem; 
    }
}
.fingers {
    position: absolute;
    top: 35rem;
    left: 3rem;
    animation-name: fingers;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes fingers {
    0%, 100% {
        top: 35rem;
        left: 3rem;
    }
    25% { 
        top: 3rem;
        left: 3rem;     
    }
    50% {
       top: 3rem;
       left: 30rem;
    }
    75% {
        top: 35rem;
        left: 30rem;
    }
}
.hair {
    top: 35rem;
    left: 30rem;
    position: absolute;
    animation-name: hair;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes hair {
    0%, 100% {
        top: 35rem;
        left: 30rem;     
    }
    25% { 
        top: 35rem;
        left: 3rem;        
    }
    50% {
        top: 3rem;
        left: 3rem;
    }
    75% {
       top: 3rem;
       left: 30rem;     
    }
}
.hand {
    position: relative;
    top: -.3rem;
    left: 53.5rem;
}
.title {
    font-size: 96px;
    text-align: center;
    line-height: 14vh;
    
}
.foto-person {
   position: relative;
   width: 100%;
  
}
.foto {
    
    width: 25.1rem;
    height: 10rem;
    background-color: #A3530AB2;
    font-family: 'Volkhov', serif;
    font-size: 48px;
    color: #FFFAFA;
    padding: 3rem;
    box-sizing: border-box;
    text-align: center;
    border-radius: 0 0 40px 40px;
    position: absolute;
    top: 32.3rem;
    opacity: 0;
}
.img {
    display: inline-block;
    width: 25rem;
    height: 42rem;
    margin: 3rem 1.3rem;
}
.mer {
    top: 35.3rem;
    left: 1rem;
    z-index: 1;
}
.jan {
    top: 35.3rem;
    left: 28.9rem;
}
.rayn {
    top: 35.3rem;
    left: 57.3rem;
    z-index: 1;
}
.jam {
    top: 35.3rem;
    left: 85rem;
    z-index: 1;
}
.foto:hover {
    opacity: 1;
}
.mer:hover ~ .img img:not(#mer) {
    filter: brightness(0.5);
}
.jan:hover ~ .img img:not(#jan) {
    filter: brightness(0.5);
}
.rayn:hover ~ .img img:not(#rayn) {
    filter: brightness(0.5);
}
.jam:hover ~ .img img:not(#jam) {
    filter: brightness(0.5);
}
.btm-contant {
    display: flex;
    justify-content: flex-end;
    height: 50rem;
    margin: 1rem auto;
}
.btm {
    width: 50%;
    margin-top: 5rem;
}
.title-btm { 
    font-size: 64px;
    text-align: center;
    flex-wrap: wrap;
    line-height: 5rem;
    
}
.input {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 25rem;
    background-color: #e5e5e5e5;
    margin: 1rem auto;
    
}
div > input {
    width: 22rem;
    height: 5rem;
    margin: 1rem;
}
div > textarea {
    width: 46rem;
    height: 12rem;
    resize: none;
}
::placeholder {
    font-size: 36px;
    padding-left: .5rem;
}
input, textarea {
    border: none;
}
.map {
    width: 38%;
    height: 36rem;
    margin-top: 5rem ;
    margin-left: 3rem;

}
.map > iframe {    
    height: 36rem;
   
}
.footer {
    width: 100%;
    height: 13rem;
    margin: 3rem auto;
    display: flex;
    justify-content: space-evenly;
    line-height: 3rem;
}
.adress {
    width: 35%;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
div > span {
    font-family: 'Volkhov', serif;
    font-weight: bold;
}
.hours {
    width: 33%;
    font-size: 36px;
    text-align: center;
}
.contact {
    width: 20%;
    font-size: 30px;
    text-align: center;
}
ul > #ftr {
    margin-left: 2rem;
    text-align: left;    
}
#ftr > a {
     text-decoration: none;
     color: black;
}
.insta {
    list-style-image: url(../img/pngwing\ 1.png);
}
.face {
    list-style-image: url(../img/pngwing\ 2.png);
}
.twit {
    list-style-image: url(../img/pngwing\ 3.png);
}