body {
    margin: 0 auto;
    background-color: #ECECEC;
    font-family: 'Montserrat', sans-serif;
    min-width: 900px;
    max-width: 1900px;
}
.nav_up {
    width: 100%;
    height: 100px;
    background-color: #fff;
    margin-bottom: 0.1rem;
    display: flex;
}
.nav_em {
    width: 5%;
    height: 100px;
    background-color: #fff;
}
.nav_logo {
    width: 80px;
    height: 80px;
    margin-top: .5rem;
}
.logo {
    width: 100%;
}
.d-flex {
    width: 60rem;
    justify-content: space-around;
}
.me-2 {
    margin-right: 18.5rem!important;
    width: 20rem;
    background-image: url(../img/adress.png);
    background-repeat: no-repeat;
    background-position: left;  
    padding-left: 2rem;  
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
}
.bg-light {
    --bs-bg-opacity: 1;
    background-color: #fff!important;
}
.btn-outline-success {
    color: white;
    border-color: #EF781A;
    background-color: #EF781A;
}
.btn-outline-success:hover {
    background-color: #EF781A;
}
.nav_kosh {
    border-color: #00D008;
    background-color: #00D008;
    margin-left: .5rem;
}
.nav_kosh:hover {
    background-color: #00D008;  
    border-color: #00D008;
}
.mac {
    width: 100%;
    height: 150px;
    background-color: #fff;
    box-shadow: 3px 4px 2px 2px #C4C4C4;
    font-size: 36px;
    font-weight: bold;
    padding: 3rem;    
    margin-bottom: 2rem;
  
}
.mac1 {
    padding-left: 5rem;
}
.up {
    width: 100%;
    height: 50rem;
    position: relative;
}
.order {
    width: 22rem;
    height: 20rem;
    background-color: #fff;
    position: absolute;
    top: -10%;
    left: 71%;
    padding: 1rem;
    border-radius: 3%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}
.order-flex {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 7rem 3rem;
    margin-top: 2rem;  
    box-sizing: border-box;
}
.order_one > ul{
    font-size: 0.7rem;
    color: #979797;    
}
.order-title {
    font-size: 1.0rem;
    padding-left: 1rem;
}
.fifty {
    grid-column: 3;
}
.order-btn {
    width: 100%;
    height: 4rem;
    background-color: #FF6C01;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.order-btn-fix {
    width: 30%;
    height: 2rem;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
}
.nav {
    margin: 0 7rem;
}
.disabled {
    visibility: hidden;
}
.nav-link:not(#foot>.nav-link):focus, .nav-link:not(#foot>.nav-link):hover {
    color: #343434;
    width: 5.5rem;
    height: 34px;
    background-color: #c4c4c4;
    border-radius: 10px;
    text-align: center;
}
.nav-link:not(#foot>.nav-link) {
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    color: #7b7b7b;
}
h3 {
    margin: 3rem 0;
}
.card_com {
    width: 64%;
    height: 46rem;
    margin: 0 5%;
}
.about {
    width: 66%;
    height: 5rem;
    margin: 0 6%;
}

.card-title {
    margin-bottom: 0.5rem;
    padding: 0 1rem;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0 1rem;
    font-size: 10px;
}
.btn-primary {
    color: #fff;
    background-color: #FF6C01;
    border-color: #FF6C01;
    margin-left: 1rem;
    opacity: 0;
    position: absolute;
    top: 16rem;
}
.btn-primary:hover {
    background-color: #FF6C01;
    border-color: #FF6C01;
}
div.card:hover > a.btn-primary {
    opacity: 1;
}

.heart {
    position: absolute;
    top: 17rem;
    left: 15rem;
}
input.el[type="radio"] {
    display: none;
}
input.el[type="radio"]:checked+label>span >.radio {
    background-image: url(../img/img.svg);    
}
.el+label>span.radio {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
}
.card_btm {
    display: flex;
    justify-content: space-between;
}

.cont {
    display: grid;
    grid-template-columns: minmax(10rem, 18rem) minmax(10rem, 18rem) minmax(10rem, 18rem);
    gap: 2rem;
}

.inform {
    width: 58rem;
    height: 20rem;
    margin-bottom: 7rem;
    background-color: white;
    padding: 2rem;
}
.inf_btm {
    font-size: 14px;
    color: #999999;
}
.inf-btm {
    font-size: 16px;
}
#fixed {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFFFFF ;
    text-align: center;
    position: fixed;
    bottom: 30rem;
    left: 3rem;
    z-index: 10;
    padding-top: .6rem;
}
.foot {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(#323232, black);
}
#foot {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 50rem;
    padding-top: 1rem;
    font-size: 18px;   
}
#foot>a {
     color: white;
}







@media screen and (max-width: 960px) {
    body {
        max-width: 960px;
        margin: 0 auto;        
    }

    .cont {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem 0;
    }
    .order {
        top: -50%;
        left: 43%;
    }
    .nav {
        flex-direction: column;
    }
    .card_com {
        margin: 0 3rem;
        height: 65rem;
        width: 50%;
    }
    .d-flex {
        width: 86%;
    }
    .foot {
        height: 28rem;
        margin-top: 28rem;
    }
    .about {
        margin: 0 3rem;
        height: 10rm;
        width: 50%;
    }
}




@media screen and (max-width: 720px) {
    body {
        max-width: 720px;
        margin: 0 auto;
        font-size: 10px;
    }   
    .nav_up {
        flex-direction: column;
    }
    .d-flex {
        width: 20%;
        flex-direction: column;
    }
    .order {
        top: -50%;
        left: 26%;
    }
   .nav {
       flex-direction: column;
   }
    .cont {
       display: block;
       margin-bottom: 0.5rem;
    }  
    .foot {
        height: 28rem;
        margin-top: 28rem;
    }
    .card_com{
        margin: 0 1rem;
         height: 120rem;
    }
    .about {
        margin: 0 1rem;
       
    }
}





