.block {
    display: inline-block;
    vertical-align: top;
}
.page_one {
    background-color: #FFCE22;
    height: 543px;
    width: 512px;
    border: 1px solid white
}
.page_two {
    background-color: #FFCE22;
    height: 543px;
    width: 512px;
    border: 1px solid white;
    overflow: hidden;
    border-radius: 50%;
    margin: 20px;
    
}
.box {
    width: 400px;
    height: 227px;    
    margin: -114px 61px; 
}
.box_two {
    width: 358px;
    height: 203px;
    margin: 0 76px;
}
.card {
    width: 512px;
    height: 256px;
    background-color: #2137FC;
}
.box_plane {
    width: 338px;
    height: 385px;
    margin: -101px 0px 0px 165px;
    background-image: url("../img/Plane.png");
   
}
.box_plane_two {
    width: 338px;
    height: 385px;
    margin-top: -180px;
    padding-left: 90px

}
.block_diya {
    display: inline-block;
    
}
.diya {
    width: 310px;
    height: 182px;
    background-image: url("../img/Vector.png");
    margin-left: 90px;
    margin-top: -100px;
}

.black {
    width: 512px;
    height: 512px;
    background-color: black;
    border: 1px solid black;
    background-image: url("../img/Vector.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
}

.flag_left {
    margin: 23px;
}
.flag_two {
    background-image: url("../img/Flag.png");
    background-position: right;
    background-repeat: no-repeat;
    margin: 23px;   
}
.container {
   margin: 343px 216px 109px 216px;
}
