body {
    font-family: 'Inika', serif;
    max-width: 1600px;
    min-width: 1300px;
}
.h1 {
    margin: 72px 0;
    font-size: 40px;
    font-weight: 700;
  
}
.line {
    width: 402px;
    border-bottom: 5px solid #3E45E8;
    margin-top: 21px;
}
.header {
    max-height: 110px;
    min-height: 50px;
    text-align: center;
    color: #3e45e8;
    font-size: 48px;
    font-weight: 400;
    font-family: 'M PLUS 1p', sans-serif;
    padding-top: 25px;
    padding-bottom: 31px;
}
.header-span {
    color: #E8C23E;    
}
.banner {
    height: 803px;
    background-image: url("../img1/image\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 80px;
    padding-top: 206px;
   
}
.content {
    box-sizing: border-box;
    height: 272px;
    background-image: url("../img1/flag.png");
    background-repeat: no-repeat;
    font-size: 48px;
    font-weight: 700;
    color: white;
}
.main {
    padding: 0 60px;

}
.card {
    border: 1px solid black;
    width: 30%;
    height: 481px;
    display: inline-block;    
    vertical-align: top;
    border-radius: 30px;
    box-shadow: 0px 4px 57px 3px #00000040;


}
.card_img {
    width: 100%;
}
.btn {
    text-decoration: none;
    color: #1E8DF2;
}
.card-margin {
    margin: 0 2.5%;
}
.card_title {
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
    box-sizing: border-box;

}
.card_subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #E8C23E;
    padding: 10px;
    box-sizing: border-box;

}
.main2 {
    text-align: center;
    padding: 0 0;
}
.line2 {
    width: 402px;
    border-bottom: 5px solid #3E45E8;
    margin: 21px auto;
    
    
}
.img2 {
    margin: 41px auto;
}
.btn2 {
    width: 591px;
    height: 121px;
    background-color:#2A61F0 ;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    margin: 0 auto;
    padding-top: 15px;
    box-sizing: border-box;  
}
.btn_btn2 {
    text-decoration: none;
    color: white; 
}
.box_bottom {
    background-color:#2F4A4B ;
    height: 320px;
    width: 100%;
    margin: 0 21px 0 0;
    text-align: center;
}

.btn3 {
    text-decoration: none;
    font-family: 'Marcellus SC', serif;
    color: #A89D9D;
    font-size: 36px;
    font-weight: 400;
    
}
.icon {
    width: 5%;
}

    


