body {
    margin: 0;
    width: 900px;
}
main {
    background-color: #FFB084;
    width: 80%;
    height: 460px;
    border-radius: 20px;
    margin: 50px auto;
    padding: 28px 40px;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}
section {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-rows: repeat(7, 55px);
    gap: 13px 20px;
    

}
section div {
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 7px 7px;
    background-color: white;
}
section div:nth-child(1) {
    grid-row: 1/7;
}
section div:nth-child(2) {
    grid-column: 2/4;
    grid-row: 1/3;
}
section div:nth-child(3) {
    grid-row: 3/5;
    box-shadow: 7px 7px #29A71E;
}
section div:nth-child(4) {
    grid-row: 5/8;
    box-shadow: 7px 7px #3675B0;

}
section div:nth-child(5) {
    grid-row: 3/6;
    box-shadow: 7px 7px #E13535;
} 
section div:nth-child(6) {
    grid-row: 6/8;
   
}
.seven {
    text-align: center;
    font-weight: bold;
}
p, h4 {
    margin: 12px 25px;
}
.three {
    color: #29A71E;
}
.four {
    color: #3675B0;
}
.five {
    color: #E13535;
}
h1 {
    text-align: center;
}
img {
    display: block;
    margin: 0 auto;
}
.one {
    font-weight: bold;
}