body {
    background-color: #e5e5e5;
    min-width: 1800px;
    max-width: 2200px;

}
.block1 {
    display: inline-block;
    margin: 10px 50px;
    vertical-align: top;
}
.square {
    background-color: #FFCE22 ;
    width: 512px;
    height: 512px;
    position: relative;
}
.spot1 {
    position: absolute;
    top: 30%;
    left: 10%
}
.white {
    width: 512px;
    height: 512px;
    background-color: white;
    position: relative;

}
.square1 {   
    width: 444px;
    height: 444px;
    background-color: #FFCE22 ;
    overflow: hidden;
    margin: auto;
    border-radius: 50%;
    position: absolute;
    top:26px;
    left: 26px;

}
.spot2 {   
    position: absolute;
    z-index: 2;
    top: 15rem;
    left: 3rem;
}
.img_sp {
     width: 80%;
}
.blue {
    width: 100%;
    height: 256px;
    background-color: #2137FC;
}
#one {
    position: absolute;
    z-index: 1;
    top: 5rem;
}
#two {
    position: absolute;
    z-index: 2;
    top: 7rem;
    left: 2rem;
}
#three {
    position: absolute;
    z-index: 3;
    top: 14rem;
    left: 3rem;
}
#one1 {
    position: absolute;   
    top: 80px;
    left: 5rem;
    z-index: 4;
}
.one, .two, .tree {
    width: 80%;    
}
#two2 {
    position: absolute;   
    top: 108px;
    left: 6.8rem;
    z-index: 5;
}
#three3 {
    position: absolute;   
    top: 190px;
    left: 7.7rem;
    z-index: 6;
}
.plane {
    position: absolute;
    top: 8rem;
    left: 11rem;
}
.plane2 {
    width: 80%;
}
#plane {
    position: absolute;
    top: 5rem;
    left: 6rem;
    z-index: 3;
}
.square-diya {
    background-color: black ;
    width: 512px;
    height: 512px;
    position: relative;
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-position: center;
}
.Diya {
    position: absolute;
    top: 10rem;
    left: 5rem;
    z-index: 3;
}
.flag {
    position: absolute;
    top:23rem;
    left: 12rem;
}
.flag2 {
    position: absolute;
    left: 2rem;
    top: 2rem;
}
.flag3 {
    position: absolute;
    top: 2rem;
    left: 25rem;
}
.block2 {
    margin: 10px 50px; 
}
.flagi {
    display: flex;
    flex-direction: row;
}